body {
  overflow-x: hidden;
}
.imagegallery-hide {
  display: none;
}
.imagegallery-work {
  background-color: #c1bbb7;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
}

.imagegallery-contact-hide {
  display: none;
}
.imagegallery-contact-show {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-top: 2%;
}

.imagegallery-about-hide {
  display: none;
}

.imagegallery-about-show {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-top: 2%;
}

.imagegallery-links {
  text-align: end;
  margin: 20px 0px;
  font-size: 5px;
  color: #d5dbdb;
}
.imagegallery-message {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.imagegallery-work div {
  height: 70vh;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-radius: "10px";
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .imagegallery-header {
    width: 100%;
    margin-left: 1%;
    color: #d5dbdb;
  }

  .imagegallery-message {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    margin-top: 70vh;
  }

  .imagegallery-links {
    display: none;
  }
}
